@import "./variables";
@import "./mixins";

/*@font-face {
font-family: "myOpenSans";
src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}*/

a {
	text-decoration: none;
	color: #000000;
	&:hover {
		color: $green;
	}
}

p {
	color: $content-color;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

h2,
h3 {
	font-family: 'Leckerli One', cursive;
	font-weight: 300;
}

p, 
h2,
h3,
h4,
body {
	margin: 0;
}

h2 {
	font-size: 30px;
	line-height: 33px;
	margin-bottom: 10px;
}

h3 {
	font-size: 22px;
	line-height: 24px;
}

h4 {
	font-size: 14px;
  line-height: 15px;
  font-weight: 500;
}

hr {
	border: 1px solid $border-color;
	margin-bottom: 20px;
}

input, 
button {
	font-family: inherit;
	font-weight: 500;
}

input[type="text"] {
	color: $content-color;
}

button {
	cursor: pointer;
}

.body {
	font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
}

.container {
	margin: 0 auto;
}

[class*="col-"] {
	box-sizing: border-box;
	float: left;
	margin: 0;
	padding: 0 13px;
	width: 100%;
}

@media only screen and (min-width: 768px){
	.container {
	    width: 750px;
	}
	@for $i from 1 through 12{
		.col-#{$i}{
			width: (100% - (12/$i - 1) * 0)/(12/$i);
		}
	}
}

@media (min-width: 992px){
	.container {
	    width: 970px;
	}
}

@media (min-width: 1200px){
	.container {
	    width: 1170px;
	}
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

	[class*="col-"]:first-child {
	    padding-left: 0px;
	}
	[class*="col-"]:last-child {
	    padding-right: 0px;
	}

	

