@import "partials/variables";
@import "partials/mixins";

/*@font-face {
font-family: "myOpenSans";
src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}*/

a {
	text-decoration: none;
}

a, 
h2 {
	font-family: 'Open Sans',sans-serif;
}

p, 
h2 {
	margin: 0;
}

h2 {
	font-size: 25px;
}

.body {
	background: {
		image: url(../images/bg-top.jpg);
		size: 1500px 1234px;
		repeat: no-repeat;
		position: center top;
	}
	font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: $text-grey;
}

.container {
	z-index: 2;
	width: 1170px;
	margin: 0 auto;
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

[class*="col-"] {
	float: left;
	margin: 0 15px;
}

[class*="col-"]:first-child {
    margin-left: 0px; 
}
[class*="col-"]:last-child {
    margin-right: 0px; 
}

.col-2 {width: 160px;}
.col-3 {width: 270px;}
.col-6 {width: 570px;}
