

@mixin carousel-bg-img($id, $img) {
	&:nth-child(#{$id}) { 
		img {
			background: url($img);
			background-repeat: no-repeat;
		}
	}
}

@mixin banner-bg-img($id, $img) {
	&:nth-child(#{$id}) { 
		background: url($img);
		background-repeat: no-repeat;
	}
}

@mixin bg-gradient($id, $color1, $color2) {
	&:nth-child(#{$id}) {
		background: $color1;
		background: linear-gradient(to bottom, $color1, $color2);
	}
}

@mixin shadow {
	box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
}

