
$white: #FFFFFF;
$text-grey: #787878;
$text-orange: #d9bb4b;
$text-cyan: #5ecdd4;
$text-greencyan: #5ed4b1;
$text-violet: #ce6f91;
$logo-color: #d3d3d3;
$carousel-ttcolor: #181818;
$carousel-bgcolor: #2A3037;
$footer-bgcolor: #292f36;



$green: #60BA62;
$content-color: #999999;
$border-color: #e1e1e1;



