/*@font-face {
font-family: "myOpenSans";
src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}*/
a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    color: #60BA62; }

p {
  color: #999999; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h2,
h3 {
  font-family: 'Leckerli One', cursive;
  font-weight: 300; }

p,
h2,
h3,
h4,
body {
  margin: 0; }

h2 {
  font-size: 30px;
  line-height: 33px;
  margin-bottom: 10px; }

h3 {
  font-size: 22px;
  line-height: 24px; }

h4 {
  font-size: 14px;
  line-height: 15px;
  font-weight: 500; }

hr {
  border: 1px solid #e1e1e1;
  margin-bottom: 20px; }

input,
button {
  font-family: inherit;
  font-weight: 500; }

input[type="text"] {
  color: #999999; }

button {
  cursor: pointer; }

.body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500; }

.container {
  width: 1138px;
  margin: 0 auto; }

.row::after {
  content: "";
  clear: both;
  display: block; }

[class*="col-"] {
  float: left;
  margin: 0 1.3%; }

[class*="col-"]:first-child {
  margin-left: 0px; }

[class*="col-"]:last-child {
  margin-right: 0px; }

.col-1 {
  width: 5.95%; }

.col-2 {
  width: 14.5%; }

.col-3 {
  width: 23.05%; }

.col-4 {
  width: 31.6%; }

.col-5 {
  width: 40.15%; }

.col-6 {
  width: 48.7%; }

.col-7 {
  width: 57.25%; }

.col-8 {
  width: 65.8%; }

.col-9 {
  width: 74.35%; }

.col-10 {
  width: 82.9%; }

.col-11 {
  width: 91.45%; }

.col-12 {
  width: 100%; }

.dropdown-btn {
  color: #ffffff;
  font-weight: 400; }
  .dropdown-btn span {
    color: #60BA62;
    font-weight: 700; }
  .dropdown-btn:hover {
    color: #ffffff; }

.show {
  display: block !important; }

.dropdown-content {
  display: none;
  position: absolute;
  padding: 20px;
  border: 1px solid #E1E1E1;
  border-top: 2px solid #60BA62;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.18);
  background-color: #ffffff; }

.depot .dropdown-content {
  right: 0;
  padding: 20px 20px 0;
  top: 36px;
  width: 400px;
  font-size: 13px;
  line-height: 20	px; }

.topbar-left .dropdown-content {
  top: 46px;
  width: 140px; }
  .topbar-left .dropdown-content a {
    color: #999999;
    font-size: 14px;
    font-weight: 14px;
    line-height: 25px; }

.nav-dropdown {
  left: 0; }

.dropdown-hover:hover .dropdown-content {
  display: block; }

/************************* Layout Style ***************************/
/******************************************************************/
.add-to-cart,
.sort-style-btn,
.search form input,
.header-img {
  box-sizing: border-box; }

.filter {
  padding-bottom: 14px; }
  .filter span {
    margin-left: 15px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 600; }
  .filter select {
    padding-left: 10px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    margin-left: 5px;
    width: 127px;
    height: 32px;
    color: #999999; }

.sort-style-btn {
  border: 0;
  background-color: #60BA62;
  height: 30px;
  width: 30px; }
  .sort-style-btn i {
    font-size: 14px;
    color: #ffffff; }

.topbar {
  position: relative;
  background-color: #363D43;
  height: 46px; }

.topbar-left li {
  float: left;
  margin: 14px 20px 0 0;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 21px;
  cursor: pointer; }

.topbar-right {
  float: right; }

.search {
  float: left;
  margin-right: 20px; }
  .search form input {
    border: 0;
    padding-left: 20px;
    background-color: #2B3136;
    width: 280px;
    height: 46px; }

.depot {
  position: relative;
  margin-top: 10px;
  float: right;
  color: #60BA62;
  font-size: 16px; }
  .depot .dropdown-btn {
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff; }
    .depot .dropdown-btn i:first-child {
      font-size: 16px;
      color: #60BA62;
      margin-right: 5px; }
    .depot .dropdown-btn i:last-child {
      color: #ffffff; }

.cart-view {
  margin-bottom: 20px; }

.cart-detail {
  color: #999999; }

.nav {
  float: right; }
  .nav ul {
    margin: 0;
    padding: 0; }
    .nav ul li {
      float: left;
      margin: 32px 24px 0 0; }
      .nav ul li a {
        color: #000000;
        transition: color 0.35s; }
        .nav ul li a:hover {
          color: #60BA62; }
      .nav ul li:last-child {
        margin-right: 12px; }

.navbar-img {
  background-image: url(../images/logo_theme.png);
  background-size: cover;
  float: left;
  width: 226px;
  height: 70px;
  margin-top: 10px; }

.navbar {
  height: 90px; }

.header-img {
  background-image: url(../images/category.jpg);
  background-position: center;
  background-size: 100%;
  padding-top: 35px;
  text-align: center;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  color: #999999; }
  .header-img span {
    position: relative;
    top: 1px;
    margin: 0 7px; }
  .header-img a {
    color: #60BA62; }

.thumbnail {
  background-image: url(../images/banner_product.png);
  margin-bottom: 20px;
  width: auto;
  height: 300px; }

.content-para {
  margin-bottom: 50px; }

.refine-list li {
  margin-bottom: 20px;
  float: left;
  width: 50%; }

.product a {
  display: block;
  margin-bottom: 5px; }

.product-img {
  margin-bottom: 5px;
  background-image: url(../images/product1.jpg);
  background-size: cover;
  height: 262px;
  width: 100%; }

.price {
  color: #60BA62; }

.old-price {
  font-size: 12px;
  line-height: 22px;
  color: #999999;
  text-decoration: underline; }

.add-to-cart {
  margin-bottom: 30px;
  margin-top: 5px;
  background-color: #ffffff;
  width: 132px;
  height: 30px;
  border: 1px solid #E6E6E6;
  font-size: 12px;
  font-weight: 700;
  color: #999999; }
  .add-to-cart:hover {
    background-color: #60BA62;
    color: #ffffff; }

.add-to-cart i {
  font-size: 14px;
  font-weight: 700; }

/************************* Sidebar Style ***************************/
/******************************************************************/
.sidebar {
  border: solid #e1e1e1;
  border-width: 3px 1px 1px 1px;
  margin-bottom: 30px; }

.sidebar-title {
  padding: 20px 0 20px 25px;
  border-bottom: 1px solid #e1e1e1; }

.sidebar:first-child {
  border-top: 3px solid #60BA62; }
  .sidebar:first-child ul li {
    padding: 11px 0 11px 25px;
    border-bottom: 1px solid #e1e1e1;
    transition: background-color 0.35s, color 0.35s; }
    .sidebar:first-child ul li:hover {
      background-color: #F1F1F1;
      color: #999999; }

.search-title {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  margin: 28px 0 8px 20px; }

.search-item {
  display: block;
  margin-bottom: 2px;
  margin-left: 20px;
  color: #999999; }
  .search-item:last-child {
    margin-bottom: 24px; }

.green-btn {
  border: 0;
  padding: 1px 2px;
  margin: 10px 0 20px 20px;
  width: 110px;
  height: 32px;
  background-color: #60BA62;
  color: #ffffff;
  font-size: 11px; }

.special-item {
  margin: 20px 20px 20px 20px;
  clear: both; }
  .special-item a {
    display: block;
    line-height: 15px;
    margin-bottom: 12px; }

.product-square-img {
  float: left;
  margin-right: 14px;
  margin-bottom: 10px;
  background-image: url(../images/product1.jpg);
  background-size: cover;
  width: 80px;
  height: 80px; }

.content-footer {
  float: right;
  margin-top: 5px; }

/************************* Footer Style ***************************/
/******************************************************************/
.footer {
  padding: 60px 0;
  background-color: #1a1a1a; }
  .footer ul li {
    margin-bottom: 10px;
    color: #999999;
    font-weight: 300; }
  .footer ul li i {
    width: 35px;
    height: 50px;
    float: left;
    color: #60BA62;
    margin-top: 6px;
    font-size: 24px; }

.footer-title {
  margin-bottom: 25px; }

.footer-title h2 {
  color: #ffffff;
  font-size: 22px;
  border-left: 5px solid #60BA62;
  padding-left: 8px; }

.footer-title + ul li a {
  position: relative; }

.arrow-item {
  color: #999999;
  position: relative;
  left: 0;
  transition: color 0.35s, left 0.35s; }
  .arrow-item:hover {
    color: #60BA62;
    left: 10px; }

.arrow {
  color: #60BA62;
  display: none; }

.arrow-show {
  display: block;
  position: absolute; }

/************************* News Letter Style ***************************/
/******************************************************************/
.news-letter-container {
  margin: auto;
  width: 620px; }
  .news-letter-container p {
    margin-bottom: 10px;
    color: #ffffff; }

.news-letter {
  padding: 52px 0;
  background-image: url(../images/newletter.png);
  background-repeat: repeat-x;
  background-position: center;
  margin-top: 54px;
  text-align: center;
  color: #ffffff; }

input[placeholder="Your email address"] {
  border: 0;
  margin-right: -5px;
  width: 430px;
  height: 44px;
  padding: 0 0 0 20px; }

button[value="SUBSCRIBE"] {
  border: 0;
  background-color: #60BA62;
  width: 168px;
  height: 44px;
  color: #ffffff;
  transition: background-color 0.35s; }
  button[value="SUBSCRIBE"]:hover {
    background-color: #7BC27C; }

/************************* Copy Right Style ***************************/
/******************************************************************/
.copyright {
  padding: 20px 0;
  background-color: #2a2a2a; }
  .copyright .copyright-content {
    color: #999999;
    font-weight: 300; }
  .copyright a {
    color: #60BA62;
    font-weight: 700; }
    .copyright a:hover {
      text-decoration: underline; }

.copyright-icon {
  background-image: url(..//images/payment.png);
  width: 210px;
  height: 22px;
  float: right; }

/************************* Check box Style ***************************/
/******************************************************************/
.rating span:before {
  content: "\2605";
  font-size: 15px;
  font-weight: 700;
  color: #FEBD49; }

/************************* Table Style ***************************/
/******************************************************************/
table, td, th {
  border: 1px solid #ddd; }

.table {
  border-collapse: collapse;
  max-width: 100%;
  text-align: left; }
  .table tr:hover {
    background-color: #f5f5f5; }
  .table tr th {
    padding: 15px; }
  .table tr td {
    padding: 15px; }

/*# sourceMappingURL=styles2.css.map */
