/*@font-face {
font-family: "myOpenSans";
src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}*/
a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    color: #60BA62; }

p {
  color: #999999; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h2,
h3 {
  font-family: 'Leckerli One', cursive;
  font-weight: 300; }

p,
h2,
h3,
h4,
body {
  margin: 0; }

h2 {
  font-size: 30px;
  line-height: 33px;
  margin-bottom: 10px; }

h3 {
  font-size: 22px;
  line-height: 24px; }

h4 {
  font-size: 14px;
  line-height: 15px;
  font-weight: 500; }

hr {
  border: 1px solid #e1e1e1;
  margin-bottom: 20px; }

input,
button {
  font-family: inherit;
  font-weight: 500; }

input[type="text"] {
  color: #999999; }

button {
  cursor: pointer; }

.body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500; }

.container {
  width: 1138px;
  margin: 0 auto; }

.row::after {
  content: "";
  clear: both;
  display: block; }

[class*="col-"] {
  float: left;
  margin: 0 1.3%; }

[class*="col-"]:first-child {
  margin-left: 0px; }

[class*="col-"]:last-child {
  margin-right: 0px; }

.col-1 {
  width: 5.95%; }

.col-2 {
  width: 14.5%; }

.col-3 {
  width: 23.05%; }

.col-4 {
  width: 31.6%; }

.col-5 {
  width: 40.15%; }

.col-6 {
  width: 48.7%; }

.col-7 {
  width: 57.25%; }

.col-8 {
  width: 65.8%; }

.col-9 {
  width: 74.35%; }

.col-10 {
  width: 82.9%; }

.col-11 {
  width: 91.45%; }

.col-12 {
  width: 100%; }

/************************* Layout Style ***************************/
/******************************************************************/
.nav ul li,
.slider-container,
.carousel-image,
.carousel-title,
.carousel-content,
.banner-padding,
.footer-li,
.social-icon-container,
[class*="btn-"] {
  box-sizing: border-box; }

.header {
  margin-top: 70px;
  height: 190px; }

.nav {
  margin-top: 45px;
  height: 70px; }
  .nav:nth-child(2) {
    background: #6ed5db;
    background: linear-gradient(to bottom, #6ed5db, #59cbd2); }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .nav ul li {
      float: left;
      width: 160px;
      border-left: 1px solid #91e5e9;
      border-right: 1px solid #37bdc6; }
      .nav ul li a {
        display: block;
        padding: 22px 20px;
        text-decoration: none;
        color: #FFFFFF;
        text-align: center; }

.nav ul li:first-child {
  border-right: 1px solid #37bdc6;
  position: relative;
  width: 66px;
  height: 70px; }
  .nav ul li:first-child a {
    padding: 0 !important;
    width: 30px;
    height: 26px;
    text-indent: 100%;
    position: relative;
    top: 20px;
    left: 17px;
    background: url(../images/home.png) 0 0;
    background-size: cover;
    background-origin: border-box; }

.nav ul li:last-child {
  border-left: 1px solid #91e5e9;
  width: 303px; }

.slider-container {
  margin-bottom: 8px;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
  background-image: url(../images/slide1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 442px;
  padding: 150px 0px 110px 86px; }

.slider-title {
  color: #FFFFFF;
  font-weight: 600; }

.slider-content {
  color: #5ecdd4;
  font-weight: 300; }

.slider-title,
.slider-content {
  z-index: 4;
  margin: 0;
  font-size: 50px;
  line-height: 50px; }

.carousel-container {
  margin-bottom: 30px;
  position: relative;
  height: 262px; }

.carousel-title {
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 22px 32px 23px;
  height: 70px;
  color: #181818;
  font-size: 20px;
  font-weight: 300; }
  .carousel-title:nth-child(1) {
    background: #FFFFFF;
    background: linear-gradient(to bottom, #FFFFFF, #dedede); }

.carousel-content {
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 25px 36px 34px 49px;
  background-color: #2A3037; }
  .carousel-content a:nth-child(1) img {
    background: url("../images/caro-img1");
    background-repeat: no-repeat; }
  .carousel-content a:nth-child(2) img {
    background: url("../images/caro-img2");
    background-repeat: no-repeat; }
  .carousel-content a:nth-child(3) img {
    background: url("../images/caro-img3");
    background-repeat: no-repeat; }
  .carousel-content a:nth-child(4) img {
    background: url("../images/caro-img4");
    background-repeat: no-repeat; }
  .carousel-content a:nth-child(5) img {
    background: url("../images/caro-img5");
    background-repeat: no-repeat; }

.carousel-image {
  float: left;
  margin-right: 18px;
  border: 6px solid #FFFFFF;
  width: 199px;
  height: 132px; }
  .carousel-image:hover {
    border: 6px solid #d9bb4b; }

.banner-padding {
  padding: 20px 30px; }

.margin-heading {
  margin-left: 5px;
  margin-bottom: 40px; }

.normal-heading {
  font-weight: 300; }

.big-heading {
  font-size: 45px;
  line-height: 42px;
  margin-bottom: 8px !important; }

.cyan,
.greencyan,
.orange,
.violet {
  margin-bottom: 32px;
  font-weight: bold; }

.cyan {
  color: #5ecdd4; }

.greencyan {
  color: #5ed4b1; }

.orange {
  color: #d9bb4b; }

.violet {
  color: #ce6f91; }

.middle-row {
  margin-bottom: 64px; }

.middle-col {
  color: #FFFFFF; }
  .middle-col:nth-child(1) {
    background: #7ed7dd;
    background: linear-gradient(to bottom, #7ed7dd, #5db6bc); }
  .middle-col:nth-child(2) {
    background: #7eddc1;
    background: linear-gradient(to bottom, #7eddc1, #5ebca0); }
  .middle-col:nth-child(3) {
    background: #e1c96f;
    background: linear-gradient(to bottom, #e1c96f, #c0a84e); }
  .middle-col:nth-child(4) {
    background: #d685a2;
    background: linear-gradient(to bottom, #d685a2, #b56481); }

.banner-img {
  height: 138px; }
  .banner-img:nth-child(1) {
    background: url("../images/home1");
    background-repeat: no-repeat; }
  .banner-img:nth-child(2) {
    background: url("../images/home2");
    background-repeat: no-repeat; }
  .banner-img:nth-child(3) {
    background: url("../images/home3");
    background-repeat: no-repeat; }
  .banner-img:nth-child(4) {
    background: url("../images/home4");
    background-repeat: no-repeat; }

img[alt="home"] {
  margin-right: 30px;
  float: left; }

.top-row {
  margin-bottom: 64px; }

.footer {
  padding: 100px 0 48px 0;
  font-weight: 100;
  background: #292f36; }

.footer-policy {
  color: #d9bb4b; }
  .footer-policy a {
    color: #d9bb4b; }
    .footer-policy a:hover {
      color: #5ecdd4; }

.footer-heading {
  color: #FFFFFF;
  margin-bottom: 30px;
  font-weight: 300; }

.footer-li {
  padding-left: 24px;
  list-style-image: url(../images/cat-arrow.png); }
  .footer-li li {
    vertical-align: middle;
    margin-bottom: 8px; }
    .footer-li li a {
      position: relative;
      top: -4px;
      font-family: arial;
      color: #787878; }
      .footer-li li a:hover {
        color: #d9bb4b; }

/************************* Button Style ***************************/
/******************************************************************/
.slider-nav {
  padding: 0;
  margin: 0;
  margin-top: 38px;
  position: relative; }
  .slider-nav li {
    display: block;
    float: left;
    list-style: none;
    position: relative;
    top: 0;
    width: 52px;
    height: 52px; }

.next {
  left: 2px;
  background: url(../images/nav-slider.png) -53px 0; }
  .next:hover {
    background: url(../images/nav-slider.png) -53px 54px; }

.prev {
  background: url(../images/nav-slider.png) 0 0; }
  .prev:hover {
    background: url(../images/nav-slider.png) 0 54px; }

.carousel-nav {
  padding: 0;
  margin: 0;
  width: 52px;
  height: 72px;
  position: absolute;
  top: 135px;
  right: -18px;
  background: url(../images/nav.png) 52px 0; }
  .carousel-nav:hover {
    background: url(../images/nav.png) 52px 73px; }

[class*="btn-"] {
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
  width: 90px;
  padding: 8px;
  font-weight: 600;
  transition: 0.1s; }

[class*="btn-white-"] {
  height: 36px;
  background-color: #FFFFFF; }
  [class*="btn-white-"]:hover {
    color: #FFFFFF;
    background-color: #292f36; }

.btn-white-1 {
  color: #5ecdd4; }

.btn-white-2 {
  color: #5ed4b1; }

.btn-white-3 {
  color: #d9bb4b; }

.btn-white-4 {
  color: #ce6f91; }

.btn-black {
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
  height: 38px;
  color: #FFFFFF;
  background-color: #292f36; }
  .btn-black:hover {
    color: #FFFFFF;
    background-color: #5ecdd4; }

/************************* Logo and Social Style ***************************/
/***************************************************************************/
img[alt="logo"] {
  vertical-align: middle;
  margin-right: 5px; }

.logo-tagline {
  font: 300 15px/15px 'Open Sans',sans-serif;
  color: #d3d3d3;
  text-transform: uppercase;
  position: relative;
  top: -16px;
  left: 73px; }

.logo-header {
  float: left;
  width: 50%; }

.social-container {
  float: right;
  margin-top: 15px; }

.social-icon-container {
  float: left;
  margin-right: 8px;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: #292f36;
  transition: background-color 0.3s; }
  .social-icon-container:hover {
    background-color: #5ecdd4; }
  .social-icon-container img {
    transition: transform 0.3s; }
    .social-icon-container img:hover {
      transform: rotateY(360deg); }

/*# sourceMappingURL=styles.css.map */
